
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Productos</h2>
@Html.ActionLink("Nuevo Producto", "Create",null, new { @class = "btn btn-primary"})
<table class="table table-bordered table-responsive">
    <thead>
        <tr>
            <th>Producto</th>
            <th>Descripción</th>
            <th>Fecha creación</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.productos)
            {
            <tr>
                <td>@item.nom_producto</td>
                <td>@item.descripcion</td>
                <td>@item.fec_creacion</td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.cod_producto }, new { @class = "btn btn-success" })

                    @Html.ActionLink("Eliminar", "Delete", new { id = item.cod_producto }, new { @class = "btn btn-danger" })
                </td>
            </tr>

        }
    </tbody>
</table>
